.header {
    width: 100%;
    background: cornflowerblue;
    height: 50px;
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0 0 10px cornflowerblue;
    opacity: 0.9;
}
.container {
    text-align: center;
    margin-top: 15px;
}
.title {
    float: left;
    padding-left: 25px;
    color: #003366;
}
.btn-in {
    border: 1px solid #003366;
    border-radius: 15px;
    text-decoration: none;
    padding: 4px;
    color: #003366;
    text-transform: uppercase;
}
.content {
    margin-top: 80px;
    margin-left: inherit;
    /*text-align: left;*/
    margin-left: 25em;
    height: 400px;
    width: 50%;
}
.message-style {
    box-shadow: 0 0 10px #003366;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
    margin-bottom: 10px;
}
.datetime-field {
    padding-left: 2em;
    color: #5b80b2;
    font-size: 12px;
}
.user-field {
    padding-left: 4em;
    padding-top: 1em;
    color: #003366;
}
.message-field {
    color: #444444;
    text-align: left;
    padding-left: 200px;
    padding-bottom: 10px;
    font-size: 14px;
}
.text-input-field {
    resize: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    outline: none;
    box-shadow: 0 0 5px #003366;
}
.btn-send {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.elem-pos {
    width: 50%;
    text-align: center;
    padding-left: 25em;
}
input {
    float: right;
    margin-right: 30%;
    width: 220px;
}
.submit-btn {
    float: right;
    margin-right: 30%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #003366;
    color: #fff;
    text-transform: uppercase;
}
.input-form {
    box-shadow: 0 0 5px #003366;
    padding: 50px;
}
.reg {
    background-color: #003366;
    color: #fff;
}
body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
.errorlist {
    color: red;
    font-size: 10px;
    margin-left: 65%;
    margin-bottom: -35px;
}
.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 160px;
    background: cornflowerblue;
    opacity: 0.9;
}
.br-tag {
    margin-bottom: 170px;
}
.form {
    background-color: #fff;
}
li {
    list-style-type: none;
}
.href-link {
    text-decoration: none;
}
.page-title {
    font-size: 24px;
    color: #003366;
    font-family: sans-serif;
}
.page-post-title {
    font-size: 14px;
    color: #003366;
    font-family: sans-serif;
}






























