{% extends 'base.html' %}

{% block js %}
    <script type="text/javascript">
        window.onload=toBottom;

        function toBottom() {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../static/css/base.css">
{% endblock %}

{% block content %}

<div class="content">
    {% for message in messages %}
        <div class="message-style">
            <div class="datetime-field">{{ message.created_at }}</div>
            <div class="user-field">{{ message.user.first_name }} {{ message.user.last_name }}:</div>
            <div class="message-field">{{ message.text }}</div>
        </div>
    {% endfor %}
</div>

{% endblock %}