{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/base.css">
{% endblock %}

{% block content %}

    <div class="content">
        <form action="{% url 'public_user_login' %}" method="POST" class="form">
            {% csrf_token %}

            <div class="input-form">
                {{ form.as_p }}


                {{ form.email.errors }}
                {{ form.password.errors }}
                {{ form.non_field_errors }}
                <button class="submit-btn login" type="submit">log in</button>
            </div>
        </form>
    </div>

{% endblock %}