
{% block css %}
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
{% endblock %}

{% block content %}

    <div class="content">
        <div class="after-reg-title">
            <p class="page-title">REGISTRATION COMPLETED!</p>
            <p class="page-post-title">Now, you can go to the <a class="href-link" href="{% url 'public_user_login' %}">login page.</a></p>
        </div>
    </div>

{% endblock %}