{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/base.css">
{% endblock %}

{% block content %}

    <div class="content">
        <form action="{% url 'public_user_register' %}" method="POST" class="form">
            {% csrf_token %}
            <div class="input-form">
                {{ form.as_p }}
                <button class="submit-btn" type="submit">Register</button>
            </div>
        </form>
    </div>

{% endblock %}