<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>

{% block js %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../static/css/base.css">
{% endblock %}

{% block header %}
    <header class="header">
        <section class="top-header">
            <div class="container">
                {% if user.is_anonymous %}
                    <div class="title">Welcome to Chat!!!</div>
                    <a class="btn-in home" href="{% url 'public_homepage' %}">home</a>
                    <a class="btn-in log" href="{% url 'public_user_login' %}">log in</a>
                    <a class="btn-in reg" href="{% url 'public_user_register' %}">sign in</a>
                {% else %}
                    <div class="title">Hi, {{ user.username }}</div>
                    <a class="btn-in home" href="{% url 'private_homepage' %}">home</a>
                    <a class="btn-in out" href="{% url 'private_user_logout' %}">log out</a>
                {% endif %}
            </div>
        </section>
    </header>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>