{% extends 'base.html' %}

{% block js %}
    <script type="text/javascript">
        window.onload=toBottom;

        function toBottom() {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".text-input-field").keypress(function(event) {
                if(event.keyCode == 13) {
                    event.preventDefault();
                    $(".btn-send").click();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="content">
        {% for message in messages %}
            <div class="message-style">
                <div class="datetime-field">{{ message.created_at }}</div>
                <div class="user-field">{{ message.user.first_name }} {{ message.user.last_name }}:</div>
                <div class="message-field">{{ message.text }}</div>
            </div>
        {% endfor %}
        <div class="br-tag"></div>
    </div>

{% endblock %}

{% block footer %}
    <footer>
        <div class="footer-container">
            <div class="elem-pos">
                <h5>You: {{ user.first_name }} {{ user.last_name }}</h5>
                <form action="{% url 'private_homepage' %}" method="POST">
                    {% csrf_token %}
                    {{ form.text }}

                    <button class="btn-send" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </footer>
{% endblock %}